.OK {
  border-bottom: 1px solid #484848;
  background: #004306!important;
}

.OK-1 {
  border-bottom: 1px solid #484848;
  background: #004306!important;
}

.OK-2 {
  border-bottom: 1px solid #484848;
  background: #004306!important;
}

.OK-3 {
  border-bottom: 1px solid #484848;
  background: #004306!important;
}

.OK-4 {
  border-bottom: 1px solid #484848;
  background: #004306!important;
}

.OK-5 {
  border-bottom: 1px solid #484848;
  background: #004306!important;
}

.OK-6 {
  border-bottom: 1px solid #484848;
  background: #004306!important;
}

.OK-7 {
  border-bottom: 1px solid #484848;
  background: #004306!important;
}

.OK-8 {
  border-bottom: 1px solid #484848;
  background: #004306!important;
}

.OK-9 {
  border-bottom: 1px solid #484848;
  background: #004306!important;
}

.OK-10 {
  border-bottom: 1px solid #484848;
  background: #004306!important;
}

body {
  color: #C9D1D9;
  background: #090C10;
}

h2, h3, h4, h6 {
  color: white;
}

table {
  color: #C9D1D9;
  background: #090C10;
  border: none;
  border-radius: 0px;
}

.ant-table.ant-table-bordered > .ant-table-container {
  border: none;
}

.ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tbody > tr > td {
  border: 1px solid #484848;
}

.ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > thead > tr > th {
  color: #C9D1D9;
  background: #090C10;
  border: 1px solid #484848;
}

.ant-pagination-item {
  a {
    color: #C9D1D9;
  }
  background: #090C10;
}

.ant-pagination-disabled .ant-pagination-item-link, .ant-pagination-disabled:hover .ant-pagination-item-link, .ant-pagination-disabled:focus .ant-pagination-item-link {
  color: #C9D1D9;
  border-color: #d9d9d9;
  background: #090C10;
}

.ant-pagination-prev .ant-pagination-item-link, .ant-pagination-next .ant-pagination-item-link {
  color: #C9D1D9;
  border-color: #d9d9d9;
  background: #090C10;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  color: #C9D1D9;
  background: #090C10;
}
.ant-select-dropdown {
  color: #C9D1D9;
  background: #090C10;
}
.ant-select-dropdown:hover {
  color: #C9D1D9;
  background: #090C10;
}
.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
  color: #C9D1D9;
  background: #090C10;
}
.ant-select-item-option-active .ant-select-item-option-selected {
  color: #C9D1D9;
  background: #090C10;
}
.rc-virtual-list-holder-inner {
  color: #C9D1D9;
  background: #090C10;
}
.ant-select .ant-select-selector {
  color: #C9D1D9;
  background: #090C10;
}

.ant-select-item {
  color: #C9D1D9;
  background: #090C10;
}

.ant-select-item-option {
  color: #C9D1D9;
  background: #090C10;
}
.ant-select-item-option-selected {
  color: #C9D1D9;
  background: #090C10;
}

.ant-radio-button-wrapper {
  color: #C9D1D9;
  background: #21262D;
}

.ant-radio-button-wrapper:hover {
  color: #C9D1D9;
}

.difficulty-unavailable-circle {
  border-color: #ffffff;
  background: #ffffff;
}

.difficulty-black:not(:hover) {
  color: #FFFFFF;
}

.difficulty-grey:not(:hover) {
  color: #C0C0C0;
}

.difficulty-green:not(:hover) {
  color: #3faf3f;
}

.difficulty-cyan:not(:hover) {
  color: #42E0E0;
}

.difficulty-blue:not(:hover) {
  color: #8888FF;
}

.difficulty-violet:not(:hover) {
  color: #BA55D3;
}

.difficulty-red:not(:hover) {
  color: #ff375f;
}

.ant-switch {
  background: #FFFFFF;
}

.ant-switch-handle::before {
  color: #888888;
  background: #888888;
}

.ant-switch-checked {
  background: #0E7AAC;
}

.ant-switch-checked .ant-switch-handle::before {
  color: white;
  background: white;
}

.ant-pagination-item-ellipsis {
  background: #21262D;
  color: black;
}

.ant-table.ant-table-bordered > .ant-table-container > .ant-table-content > table > tbody > tr > td {
  background: #090C10;
}

td .table-not-success-1 {
  border-bottom: 1px solid #484848;
}
td .table-not-success-2 {
  border-bottom: 1px solid #484848;
}
td .table-not-success-3 {
  border-bottom: 1px solid #484848;
}
td .table-not-success-4 {
  border-bottom: 1px solid #484848;
}
td .table-not-success-5 {
  border-bottom: 1px solid #484848;
}
td .table-not-success-6 {
  border-bottom: 1px solid #484848;
}
td .table-not-success-7 {
  border-bottom: 1px solid #484848;
}
td .table-not-success-8 {
  border-bottom: 1px solid #484848;
}
td .table-not-success-9 {
  border-bottom: 1px solid #484848;
}
td .table-notsuccess-10 {
  border-bottom: 1px solid #484848;
}

.ant-radio-button-wrapper:hover {
  background: #1890ff;
  background: #0e7aac
}

.verdict-rejected {
  color: #0e7aac;
  color: #8888FF;
}
