#input-box {
  position: relative;
  display: flex;
  flex: auto;
  align-items: center;
  margin: 0 auto 0 0;
  padding-left: 16px;
  padding-right: 16px;
  white-space: nowrap;
}

#input-box input {
  width: 100%;
  max-width: 200px;
  padding: .375rem .75rem;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  background: white; 
}

#input-box button {
  padding: 0 0 0 0 ;
  text-align: center;
  height: 40px;
  width: 100%;
  font-weight: 450;
  max-width: 56px;
  font-size: 16px;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  background: #484f58;
  border-color: #484f58;
  color: #C9D1D9;
}
