#logo > a{
  background: transparent;
  color: #61dafb;
  padding-left: 20px;
  overflow: hidden;
  white-space: nowrap;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 56px;
  margin: 0;
}

#logo::selection > a{
  color: #61dafb;
}

#logo > a > img {
  position: relative;
  top: -1.5px;
  height: 32px;
  margin-right: 16px;
}
